<% for(var i in files){ %>
	<% var ext = files[i].match(/\.[0-9a-z]+$/i); %>
	<% if(ext) ext = ext[0].toLowerCase(); %>
	<% if(ext ===".jpg" || ext ===".gif" || ext ===".bmp" || ext ===".png" || ext ===".tiff" ){ %>
		<a href="/<%= kind %>/show/<%= files[i] %>" target="_blank">
			<img src='/images/imgicon.png' alt='Img icon' height='20' />
			<%= files[i] %>
		</a><br>
	<%} else if(ext===".pdf"){ %>
		<a href="/<%= kind %>/show/<%= files[i] %>" target="_blank">
			<img src='/images/pdficon.png' alt='PDF icon' height='20'/>
			<%= files[i] %>
		</a>
	<% } %>
		<form method="post" action="/<%= kind %>/<%= files[i] %>" style="display: inline">
			<input type='hidden' name='_method' value='delete'>
			<a href="/<%= kind %>/download/<%= files[i] %>">
				<img src='/images/download.png' alt='Download' title="Descargar" height='20'/></a>
			<a href="" onclick="this.form.submit();">
				<img src='/images/delete.png' alt='Delete' title="Borrar" height='20'/></a>
		</form><br>
<% } %>