<h2>Ajustes de Impresión</h2>

<h3>EPSON Stylus DX7400</h3>
<u>Estado:</u> <div style="display:inline" id="rdy"><%= ready || "pausada" %></div><br>
<u>Cola de impresión:</u> <div style="display:inline" id="acpt"><%= accept ? "Aceptando trabajos" : "Rechazando trabajos" %></div>
<hr />
<h3>Cola de impresión</h3>
<div id=pqueue >
	<table class="settingstable">
		<tr>
			<td>Nombre</td>
			<td>Estado</td>
			<td>Progreso</td>
		</tr>
		<% for(var i in jobs){ %>
			<tr>
				<td><%= jobs[i].fname %></td>
				<td><%= jobs[i].stat %></td>
				<td><progress value="<%= jobs[i].lvl || 0 %>" max="100"></progress></td>
			</tr>
		<% } %>
	</table>
</div>
<br>
<br>
<a href="/"> Inicio</a>