<h2>Ajustes de Impresión</h2>

<h3>EPSON Stylus DX7400</h3>
<table>
	<tr>
		<td><u>Estado:</u> </td>
		<td><span id="rdy"><%= ready || "pausada" %></span></td>
		<td><button id="togglerdy" type="button"><%= ready ? "Pausar Impresora" : "Reanudar Impresora" %></button></td>
	</tr>
	<tr>
		<td><u>Cola de impresión:</u> </td>
		<td><span id="acpt"><%= accept ? "Aceptando trabajos" : "Rechazando trabajos" %></span></td>
		<td><button id="toggleacpt" type="button">
			<%= accept ? "Rechazar trabajos" : "Aceptar trabajos" %>
		</button></td>
	</tr>
</table>
<hr />
<h3>Cola de impresión</h3>
<table class="settingstable">
	<tbody id=pqueue>
		<tr>
			<td>Nombre</td>
			<td>Estado</td>
			<td>Progreso</td>
			<td>Opciones</td>
		</tr>
		<% for(var i in jobs){ %>
			<tr>
				<td><%= jobs[i].fname %></td>
				<td><%= jobs[i].stat %></td>
				<td><progress value="<%= jobs[i].lvl || 0 %>" max="100"></progress></td>
				<td><button id=<%= "hold"+i %> type="button">
				<%= jobs[i].stat==="Retenido" ? "Liberar Trabajo" : "Retener Trabajo" %></button>
				<button id=<%= "rm"+i %> type="button">Cancelar Trabajo</button>
				</td>
			</tr>
		<% } %>
	</tbody>
</table>
<br>
<br>
<a href="/"> Inicio</a>